<app-title title="Defer Triggers" />
<section>
  <h1 class="text-xl">Interactions</h1>
  <hr class="my-2">
  @defer(on interaction){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>ON INTERACTIONS</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-purple-200">Click here 👨</div>
  }
</section>

<section>
  <hr class="my-2">
  <button #btnInteraction class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">Click me!</button>
  @defer(on interaction(btnInteraction)){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>ON INTERACTIONS</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-orange-200">Placehoder</div>
  }
<section>
  <hr class="my-2">
  @defer(on hover(btnInteraction)){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>ON INTERACTIONS</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-orange-200">Placehoder</div>
  }
</section>
<section>
  <hr class="my-2">
  @defer(on hover){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>ON INTERACTIONS</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-red-200">On hover interaction</div>
  }
</section>
<section>
  <hr class="my-2">
  @defer(on immediate){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>ON IMMEDIATE</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-red-200">Placehoder div</div>
  }
</section>
<section>
  <hr class="my-2">
  @defer(on timer(2000)){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>ON TIMER</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-red-200">2 sec</div>
  }
</section>
<section>
  <hr class="my-2">
  @defer(on hover; prefetch on idle){
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>ON HOVER, IDLE</span>
    </app-heavy-loaders-fast>
  }@placeholder {
    <div class="w-full h-20 bg-red-200">Hover</div>
  }
</section>
